aiobotocore[boto3]
pytest
flask
colour
flask
scikit-image
gevent
eventlet
gunicorn
gunicorn[gevent]
gunicorn[eventlet]
rasterio>=1.0.9
ruamel.yaml
prometheus-client
flask-log-request-id
pytest-localserver
pytest-mock
requests
watchdog
